# project
_site
.sass-cache
.vagrant
working_posts
assets/img/clustering/
assets/img/kernels/
assets/img/representation_learning/


# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
